/* Copyright 2018 Beckman Coulter, Inc.
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use, copy,
 * modify, merge, publish, distribute, sublicense, and/or sell copies
 * of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
 * BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
 * ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE. */

.hidden { display: none; }

.schema { width: 500px; }

[disabled] { color:graytext; }

form { display: inline; }

input.offset { width: 4em; }

td.link {
  padding: 3px 1px 1px 5px;
  vertical-align: top;
  border: 0px solid;
}

td.navigation {
  padding: 1px;
  vertical-align: top;
  border: 0px solid;
}

textarea.sql {
  height: 10em;
  width: 40em;
}

.dataTable {
    word-wrap: break-word;
    width: 99%
}

.dataTable th{
    text-align: left;
}

.narrow{
    max-width: 150px;
    min-width: 0px;
}

.normal{
    max-width: 200px;
    min-width: 0px;
}

.wide{
    max-width: 250px;
    min-width: 0px;
}

.extra-wide{
    max-width: 350px;
    min-width: 0px;
}


.dataCont {
    overflow-x: auto;
    width: 100%;
}
