/Makefile
/git.revision
/io-constants
/io-constants.exe
/io-constants.ilk
/io-constants.obj
/io-constants.pdb
/io-constants.ss
/main.o
/main.obj
/osi.o
/osi.obj
/run.o
/run.obj
/sqlite.o
/sqlite.obj
/sqlite3.o
/sqlite3.obj
/swish_kernel.o
/swish_kernel.obj
/vc140.pdb
